node_modules
.env
.encryptedKey.json
geth-local/data/
geth-local/genesis.json
geth-local/password.txt
geth-local/private-key.txt

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
