<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.timecoinweb.mapper.RegisterMapper">

</mapper>

        <!--<mapper namespace="org.example.timecoinweb.mapper.RegisterMapper">-->
        <!--&lt;!&ndash;    <insert id="register" resultType="org.example.pojo.User">&ndash;&gt;-->
        <!--&lt;!&ndash;        insert into user(username,name,password,role,email,age,phone,address)&ndash;&gt;-->
        <!--&lt;!&ndash;        values()&ndash;&gt;-->
        <!--&lt;!&ndash;    </insert>&ndash;&gt;-->
        <!--</mapper>-->
